.sectionSkills {
    min-height: 80vh;  
}

.contentSkills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 100%;
}

.marginTop {
    margin-top: 24px;
}

.descriptionSkills{
    width: 50%;
}

.contentIcons{   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.iconSkill {
    height: 65px;
}

@media screen and (max-width: 500px) {
    .contentSkills{
        flex-direction: column;
    }
    .descriptionSkills{
        width: 80%;
    }
}